<% if user_signed_in? %>
  <%= link_to "Your Learning", transactions_path %>
  <h1>Upskill Yourself With...</h1>

  <ul>
    <% @courses.each do |course| %>
    <%# byebug %>






       <% unless Transaction.all.where(student_id: current_user.id).pluck(:course_id).include?(course.id) %>
        <section>
          <h3><%= course.title %></h3>
          <%= course.description %>
          <p>at just @<%= course.price %></p>
          <%= form_with(model: Transaction.new, url: transactions_path, method: :post) do |form| %>
            <%= form.hidden_field :course_id, value: course.id %>
            <%= form.hidden_field :tutor_id, value: course.user_id %>
            <%= form.hidden_field :student_id, value: current_user.id %>
            <%= form.submit "Buy Course" %>
          <% end %>
        </section>
        <wbr>
      <% end %>
    <% end %>
  </ul>
<% else %>
  <p>Please sign in to view the courses.</p>
<% end %>
